:root{
    --background-color: mediumspringgreen;
}

.Top {
    color: rgb(206, 100, 30);
    float: center;
    justify-content: center;
}

.title {
    color: var(--background-color);
}

header {
    background-color: var(--background-color);
}
.Logo {
    box-sizing: border-box;
    padding: 1px;
    height: 300px;
    width: 40%;

}

li {
    float: right;
    columns: center;
    letter-spacing: 8px;

}
.menu2 {
    box-sizing: border-box;
    padding: 1px;
    height: 800px;
    width: 100%;

}
.menu1 {
    box-sizing: border-box;
    padding: 1px;
    height: 800px;
    width: 100%;

}